* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

body {
  background-color: #f2f2f2;
  font: 300 1rem "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  width: min-content;
}

h1 {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 0 1rem;
}

.by {
  font-size: .7rem;
  padding: 1rem 2rem 0;
  text-align: center;
  width: 100%;
}

.calculator {
  background-color: #fff;
  border-radius: 12px;
}

.calculator--theme {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .5rem;
  
  --dark: #121212;
  --light: #f2f3f4;
}

.calculator--theme > button {
  background-color: #fff;
  border: 2px solid;
  border-radius: 50em;
  display: block;
  height: 20px;
  width: 20px;
}

button.calculator--theme--light {
  border-color: var(--light);
}

button.calculator--theme--dark {
  border-color: var(--dark);
}

.calculator--app > header {
  padding: .5rem;
  text-align: right;
}

.calculator--app small {
  color: #787878;
  display: block;
}

.calculator--app strong {
  color: #121212;
  display: block;
  font-size: 1.9rem;
}

.calculator--app--buttons {
  border-radius: 12px;
  background-color: #f8f8f8;
  display: grid;
  grid-template-rows: repeat(5, 60px);
  grid-template-columns: repeat(4, 60px);
  width: fit-content;
}

.calculator--app--buttons > button {
  border-radius: 12px;
  font-size: 1.35rem;
  font-weight: 300;
  height: 60px;
  width: 60px;
  transition: all .23s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@media (pointer: coarse) {
  .calculator--app--buttons > button:active {
    background-color: rgba(0, 0, 0, 0.115);
    border-radius: 12px;
  }
}

button[data-key="="] {
  width: 120px;
}
